
.vs/slnx.sqlite
.vs/DatabaseCompulsory/v17/.wsuo
.vs/DatabaseCompulsory/FileContentIndex/fb0e8610-f090-4ddc-8ad4-80b30d7ac48b.vsidx
.vs/DatabaseCompulsory/FileContentIndex/1e4c7b63-9807-455a-b4e0-c6c5aaa36e48.vsidx
